html {
    scroll-behavior: smooth;
    min-height: 100vh;
    overflow-x: hidden;
  }
  body {
    margin: 0px;
    padding: 0px;
    height: auto;
    background-color: #F5F5F5;
  }

  #logo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 15px;
    color: #181819;
    padding-left: 30px;
    font-size: 40px;
    
}

a{
text-decoration: none;
}

a:visited {color:#181819;} 

.navbar{
    padding: 10px;
    padding-left: 25px;
    margin-left: 5px;
    padding-bottom: 20px;
}

.navlink {
    text-decoration: none;
    color: #181819;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding: 5px;
}

.navlink::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #EE5844;
    transition: width 0.7s ease; 
}

.navlink:hover::before {
    width: 100%;
}

.headerContainer{
    box-shadow: 0 4px 2px -2px gray;
}


#introTextMainPg{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin: 60px;



}

#imgDivHomepage{
    text-align: center;
    background-color: #EE5844;
    padding: 40px 15px;
    margin-bottom: 80px;
}

.homepageImg{
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;


}


#newRecipeBtn{
    border: #181819 2px solid;
    background-color: #F5F5F5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    transition: border-color .7s ease;
    font-size: 18px;
    box-shadow: 0 4px 6px -2px #EE5844;


}

#newRecipeBtn:hover{
    border: #EE5844 2px solid;
}

#stepsDivContainer{
    text-align: center;
    margin-left: 30px;
}

#stepsDiv{
width: 54%;
margin: 0 auto; 
text-align: left;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: #181819;
font-size: 18px;



}
span.step {
    background: #EE5844;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #F5F5F5;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em; 
  }
  




  footer{
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #181819;
  }